body {
  font-family: "Arial", sans-serif;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 72px;
  font-size: 14px;
  background-color: none;

  box-sizing: border-box;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right button {
  background-color: red;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  border: none;
  padding: 8px 14px;
}
.header-right button:hover {
  background-color: rgb(181, 10, 10);
  cursor: pointer;
}

.hero {
  position: relative;
  height: 100vh;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1280,h_720,q_75,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6Ii9mL2Y1NjJhYWY0LTVkYmItNDYwMy1hMzJiLTZlZjZjMjIzMDEzNi9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.FScrpAAFnKqBVKwe2syeiOww6mfH6avq-DRHZ_uFVNw");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  margin-top: 0;
}
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.4),
    transparent
  );
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
}

.content h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  color: white;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #ddd;
}
.input-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: -30px;
}

.email-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.input-box {
  position: relative;
}

.input-box input {
  width: 100%;
  padding: 30px 100px 10px;
  font-size: 16px;
  border: 1px solid #555;
  border-radius: 4px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #bbb;
  font-size: 12px;
  pointer-events: none;
  transition: 0.3s ease;
}

.input-box input:focus + label,
.input-box input:valid + label {
  top: 8px;
  font-size: 15px;
  color: #bbb;
}

.email-form button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 70px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.email-form button:hover {
  background-color: #b00610;
}

.h2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.lang-grid-contaniner {
  background-color: black;
  width: 100%;
  padding: 20px 148px;
  margin: 0;
  box-sizing: border-box;
}

.lang-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  gap: 20px;
}

.lang-grid-item {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  background-color: #1d172e;
  border-radius: 8px;
}

.lang-grid-simple {
  display: grid;
  gap: 20px;
  /* width: 800px; */
  margin: auto;
  margin-top: 50px;
}

.lang-grid-simple-item {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 32px;
  background-color: #1d172e;
}

.footer {
  background-color: black;
  margin-top: 100px;
  padding: 50px 80px;
  display: flex;
  flex-direction: column; 
  gap: 40px;
}


.footer-top {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: 600;
  flex-wrap: wrap; 
  gap: 20px;
}


.footer-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  color: white;
}

.footer-main .footer-main-item {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 10px;
}


.footer-bot {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: white;
  text-align: left;
}

.footer-bot .end {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.footer-bot .end button {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-bot .end button:hover {
  background-color: white;
  color: black;
}


.footer-top a,
.footer-main a {
  text-decoration: underline;
  font-size: 16px;
  color: white;
}

.footer-bot a {
  color: #003acd;
  font-size: 14px;
}
.footer-bot div:nth-child(2) {
  width: 500px;
}

@media screen and (max-width: 1280px) {
  .header-right .header-right-item:nth-child(1) {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .header-right .header-right-item:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 1080px) {
  .header-right .header-right-item:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .header-right .header-right-item:nth-child(4) {
    display: none;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }

  .footer-bot div:nth-child(2) {
    width: 400px;
  }

  .lang-grid {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0px 20px;
    box-sizing: border-box;
  }

  .lang-grid-simple {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    padding: 0px 20px;
    box-sizing: border-box;
  }

  .footer-main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .header-left .header-left-item:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 778px) {
  .header {
    padding: 0 12px;
  }
} 
