body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  border: 1px solid black;
  /* main axis */
  justify-content: flex-start;
  /* cross axis */
  align-items: flex-start;
  gap: 12px;
  /* row-gap: 20px;
  column-gap: 12px; */
  /* row-gap: 12px; */
  flex-wrap: wrap;
  background-color: darkgray;
}

.block {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  background-color: rgb(95, 107, 107);
}

#block-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-start;
  padding: 10px;
  box-sizing: border-box;
}

h1,h2,p {
  margin: 0;
}