@font-face {
  font-family: "Source Sans 3";
  src: url("assets/fonts/SourceSans3.ttf");
}

@font-face {
  font-family: "Source Sans 3 Bold";
  src: url("assets/fonts/SourceSans3-Bold.ttf");
}

body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
}

.header {
  height: 56px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 0 72px;
  /* padding: 10px; */
  font-size: 14px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left .header-left-item {
  padding: 12px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-left .header-left-item i {
  font-size: 12px;
}

.header-left .header-left-item:hover {
  color: white;
  background-color: #059862;
  cursor: pointer;
}

.search-input {
  border: 1px solid gray;
  border-radius: 24px;
  padding: 4px 10px;
}

.search-input input {
  border: none;
}

.show-more {
  margin-left: 10px;
}

/* Header Right */
.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-right .header-right-item {
  padding: 8px;
  display: flex;
  gap: 6px;
  align-items: center;
}

.header-right .header-right-item i {
  color: #9763f6;
  font-size: 14px;
}

.header-right .header-right-item:hover {
  background-color: rgb(235, 235, 235);
  border-radius: 30px;
  cursor: pointer;
}

.header-right button {
  background-color: #04aa6d;
  border-radius: 8px;
  color: white;
  border: none;
  padding: 8px 14px;
}
.header-right button:hover {
  background-color: #059862;
  cursor: pointer;
}

/* CATEGORY HEADER */

.category-header {
  display: flex;
  height: 32px;
  background-color: #282a35;
  padding: 0 72px;
  align-items: center;
  overflow-x: hidden;
}

.category-header .category {
  color: white;
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.category-header .category:hover {
  background-color: #17171d;
  cursor: pointer;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 600px;
  background-color: #282a35;
  color: white;
}

.lang-grid-contaniner {
  background-color: #D9EEE1;
  padding-top: 50px;
}

/* Language Grid */
.lang-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 800px;
  margin: auto;
  gap: 20px;
  /* background-color: #D9EEE1; */
}

.lang-grid-item {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.lang-grid-simple {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 800px;
  margin: auto;
  margin-top: 50px;
}

.lang-grid-simple-item {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.lang-grid-simple-item:nth-child(1),
.lang-grid-simple-item:nth-child(2) {
  grid-column: span 2;
}

/* Footer */
.footer {
  background-color: #282a35;
  margin-top: 100px;
  padding: 50px 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-top {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  color: #fff499;
  font-weight: 600;
}

.footer-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
}

.footer-main .footer-main-item {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-bot {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* column-gap: ;
  row-gap: ; */
  gap: 20px;
  color: white;
}

.footer-bot .socials {
  display: flex;
  gap: 12px;
  align-items: center;
}


.footer-top a,
.footer-main a,
.footer-bot .socials a {
  text-decoration: none;
  font-size: 16px;
}

.footer a {
  color: white;
}


.footer-top a {
  color: #fff499;
}
.footer-top a:hover {
  text-decoration: underline;
}

.footer a:hover {
  color: #fff499;
}

.footer-bot:nth-child(2),
.footer-bot:nth-child(3) {
  font-size: 12px;
  text-align: center;
}

.footer-bot div:nth-child(2) {
  width: 500px;
}

@media screen and (max-width: 1280px) {
  .header-right .header-right-item:nth-child(1) {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .header-right .header-right-item:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 1080px) {
  .header-right .header-right-item:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .header-right .header-right-item:nth-child(4) {
    display: none;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }

  .footer-bot div:nth-child(2) {
    width: 400px;
  }

  .lang-grid {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0px 20px;
    box-sizing: border-box;
  }

  .lang-grid-simple {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    padding: 0px 20px;
    box-sizing: border-box;
  }

  .footer-main {
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: 1fr 1fr; */
  }
}

@media screen and (max-width: 950px) {
  .header-left .header-left-item:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 778px) {
  .header {
    padding: 0 12px;
  }

  .category-header {
    padding: 0px 12px;
  }

  .header-left .header-left-item:nth-child(4) {
    display: none;
  }

  .lang-grid {
    padding: 0px 12px;
  }

  .lang-grid-simple {
    padding: 0px 12px;
  }
}

@media screen and (max-width: 700px) {
  .header-left .search-input {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .lang-grid {
    grid-template-columns: 1fr;
  }
  .lang-grid-simple {
    grid-template-columns: 1fr;
  }
  .lang-grid-simple-item:nth-child(1),
  .lang-grid-simple-item:nth-child(2) {
    grid-column: span 1;
  }

  .footer-main {
    grid-template-columns: 1fr;
  }
}