/* 
Selectors

- Tag
- Class
- Id

*/

html {
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/*@media screen and (max-width: 720px){
html{
  font-size: 10px;
}
}*/

#intro {
  color: brown;
  font-size: 2rem;
}

h1,
h2 {
  /* color: rgb(166, 0, 255); */

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-size: 35; */
  color: rgb(64, 64, 64);

  /* border: 2px solid rgb(255, 0, 0); */
}

intro-div {
  font-size: 22px;
}

.card {
  background-color: rgb(217, 217, 217);
  border: 1px solid rgba(115, 115, 115, 0.5);
  border-radius: 16px;
  box-shadow: 5px 5px 30px 2px darkgray;
  padding: 16px;
  margin: 10px;
}

.intro-text {
  font-weight: 600;
  font-size: 2rem;
}

.italic {
  font-style: italic;
}

h1 {
  color: rgb(16, 28, 194);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 26px;
  background-color: cyan;
  width: fit-content;
  border-radius: 12px;
  border: 1px solid darkgray;
  padding: 10px;
}

h2 {
  color: rgb(44, 80, 23);
  /* background-color: lightgray; */
}

/* p {
  background-color: darkslategray;
  color: white;
} */

#intro {
  color: green;
}

/* #login-form input {
  background-color: lightblue;
} */

#login-form input {
  background-color: lightblue;
}

input {
  background-color: gray;
}
